<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordAssistedTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordAssistedTools.Properties.Settings>
            <setting name="UpperLimitTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FinalReservedTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ChangeSlideTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsAutoLoadAfterBrowse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoShowDifferAfterLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DifferenceType" serializeAs="String">
                <value>OnlyText</value>
            </setting>
            <setting name="WordToPptRules" serializeAs="String">
                <value>-:-讲稿</value>
            </setting>
        </WordAssistedTools.Properties.Settings>
    </userSettings>
</configuration>